<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="project_name" value="SocTrang" />
    <add key="path_root" value="D:\0\TFS\view_1pha_soctrang\views_1pha\" />

    <add key="path_src" value="db_files" />
    <add key="path_dis" value="C:\db_file" />

    <!--  888   -->

    <add key="ip_local" value="127.0.0.1" />
    <add key="ip_nat" value="127.0.0.1" />

    <!-- 222.252.17.218 183.91.4.32 101.99.50.141:12339-->
    <add key="s_domain_signal" value="127.0.0.1:12339" />

    <add key="s_port" value="|8000|9001|9002|9003|9004|9005|9006|9009|" />
    <add key="s_domain" value="|admin.com|login.ifc.com.vn|amiss.com|chart.amiss.com|export.amiss.com|report.ifc.com.vn|macoss.com|id.ifc.com|" />
    <add key="s_domain_admin" value="*ip*:8000" />
    <add key="s_domain_login" value="*ip*:9001" />
    <add key="s_domain_main" value="*ip*:9002" />
    <add key="s_host_member" value="|host_admin|host_chart|host_export|host_demo|" />
    <add key="s_domain_member" value="|*ip*:8000|*ip*:9003|*ip*:9004|*ip*:9005|*ip*:9006|" />
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>